.registration-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .paralaxcontent{
    height: calc(100vh - 70px);
  }
  .container{
    width: 40%;
    margin-top: 50px;
    .ant-form label {
      font-size: 15px;
      font-weight: 600;
      text-shadow: #a5a2a2 0px 1px 1px;
    }
    form{
      background: #5aa17366;
      padding: 20px;
      border-radius: 15px;
    }
    .register-form{
      .form-title{
        font-family: "Oswald", sans-serif;
        text-align: center;
        font-size: 40px;
        text-shadow: 2px 2px #ffffff;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.login-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .paralaxcontent{
    height: calc(100vh - 70px);
  }
  .container{
    width: 40%;
    margin-top: 50px;
    .ant-form label {
      font-size: 15px;
      font-weight: 600;
      text-shadow: #a5a2a2 0px 1px 1px;
    }
    form{
      background: #5aa17366;
      padding: 20px;
      border-radius: 15px;
      .login-button-container{
        .social-auth{
          flex-wrap: wrap;
          .googleButton{
            background: #353a66;
            height: 40px;
            width: 223px;
            min-width: 223px;
            border: 0;
            font-size: 16px;
            color: white;
            p{
              margin-top: 8px;
            }
            .googlepic{
              margin-top: 1px;
              height: 35px;
              width: 35px;
              margin-right: 10px;
              background-image: url('../img/google.png');
              background-size: contain;
              background-repeat: no-repeat;
            }
            .contain{
              display: flex;
              justify-content: space-around;
            }
          }
          div, button{
            margin: 0 5px 10px 0;
          }
        }
        .simple-login{
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
      }
    }
    .login-form{
      .form-title{
        font-family: "Oswald", sans-serif;
        text-align: center;
        font-size: 40px;
        text-shadow: 2px 2px #ffffff;
        color: rgb(54, 168, 157);
      }
    }
  }
}


@media only screen and (max-width: 1300px) {
  .registration-block .container,
  .login-block .container{
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .registration-block .container,
  .login-block .container{
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .registration-block .container,
  .login-block .container{
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .registration-block .container,
  .login-block .container{
    width: 95%;
  }
}