body{
  margin: 0;
}
.header{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  background: $main-background!important;
  z-index: 100;
  .logo{
    background-image: url('../img/logo2.png');
    height: 70px;
    width: 100px;
    background-size: cover;
    background-position: center;
  }
  .nav-menu{
    font-family: 'Oswald', sans-serif;
    ul{
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        padding: 0 10px;
        a {
          letter-spacing: 0px;
          font-size: 20px;
          color: $text-title;
          text-decoration: none;
          text-transform: uppercase;
        }
        a:hover{
          color: $hover-text-title;
        }
      }
    }
  }
  @media only screen and (max-width: 700px) {
    .nav-menu{
      display: none;
    }
  }
}

.site-content{
  margin-top: 100px;
  min-height: calc(100vh - 198px)!important;
}

.footer{
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  background: $main-background;
  text-align: center;
  p{
    margin: 0;
  }
  .social-box{
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    a{
      width: 35px!important;
      height: 35px!important;
    }
  }
}