$main-background : #f6f6f6;
$text-title: #36a89d;
$hover-text-title: #257166;

body{
  position: absolute;
  top:0;
  text-shadow: #8a8282 0px 1px 1px;
}



.flex{
  display: flex;
}

.flex-space-around{
  justify-content: space-around;
}

.flex-center{
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}

