@import "../../node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Mali");
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  position: absolute;
  top: 0;
  text-shadow: #8a8282 0px 1px 1px;
}

.flex {
  display: flex;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.btn {
  text-shadow: #8a8282 0px 1px 1px;
}

.order-btn {
  font-size: 20px !important;
  height: 50px !important;
  width: 200px !important;
  border-radius: 50px !important;
  background: rebeccapurple !important;
  border: none !important;
  color: white !important;
}
.order-btn:hover {
  background: #47206d !important;
}

.details-button {
  font-size: 16px !important;
  height: 40px !important;
  width: 130px !important;
  border-radius: 50px !important;
  background: #36a89d !important;
  border: none !important;
  color: white !important;
}
.details-button:hover {
  background: #47206d !important;
}

.transparent-button {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

body {
  margin: 0;
}

.mobile-header-nav {
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-header-nav a {
  padding-top: 10px;
  color: #36a89d !important;
}

.header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  background: #f6f6f6 !important;
  z-index: 100;
}
.header .headerfix {
  max-width: 1700px;
}
.header .logo {
  background-image: url("../img/logo2.png");
  height: 70px;
  width: 100px;
  background-size: cover;
  background-position: center;
}
.header .mobile-header-button {
  margin-top: -10px;
  display: none;
}
.header .nav-menu {
  font-family: "Oswald", sans-serif;
}
.header .nav-menu ul {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .nav-menu ul li {
  padding: 0 10px;
}
.header .nav-menu ul li a {
  letter-spacing: 0px;
  font-size: 20px;
  color: #36a89d;
  text-decoration: none;
  text-transform: uppercase;
}
.header .nav-menu ul li a:hover {
  color: #257166;
}
@media only screen and (max-width: 700px) {
  .header .nav-menu {
    display: none;
  }
  .header .mobile-header-button {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
  }
  .header .menu-container .headerfix a {
    position: absolute;
    left: 20px;
  }
}

.site-content {
  margin-top: 64px;
  min-height: calc(100vh - 147px) !important;
}

.footer {
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  background: #f6f6f6;
  text-align: center;
}
.footer p {
  margin: 0;
}
.footer .social-box {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
}
.footer .social-box a {
  width: 35px !important;
  height: 35px !important;
}

.invite-block {
  width: 100%;
}
.invite-block .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.invite-block .container .image-left {
  background-image: url("../img/burger.jpeg");
  width: 60%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.invite-block .container .block-right {
  height: 550px;
  width: 40%;
  background: #36a89d;
}
.invite-block .container .block-right .title {
  text-align: center;
  padding-top: 20px;
  font-size: 4em;
  font-family: "Oswald", sans-serif;
  color: white;
}
.invite-block .container .block-right .info {
  text-align: justify;
  padding: 0 40px;
  font-size: 18px;
  font-family: "Mali", cursive;
  color: white;
}

.author-block {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.author-block .container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.author-block .container .image-right {
  width: 300px;
  height: 300px;
  background-image: url("../img/kriss.jpg");
  background-size: cover;
  background-position-y: -12px;
  border-radius: 50%;
}
.author-block .container .block-left {
  width: 50%;
}
.author-block .container .block-left .title {
  font-family: "Oswald", sans-serif;
}
.author-block .container .block-left .info {
  font-size: 18px;
  font-family: "Mali", cursive;
  text-align: justify;
  padding-right: 20px;
}

.title-block .paralax-content {
  text-align: center;
  user-select: none;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title-block .paralax-content .title {
  font-size: 8em;
  font-family: "Oswald", sans-serif;
  color: #f6f6f6;
  text-shadow: 2px 2px #36a89d;
  font-weight: 600;
  letter-spacing: 3px;
}
.title-block .paralax-content .title p {
  margin: 0;
}
.title-block .paralax-content .call p {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #f6f6f6;
}

.latest-posts-block {
  text-align: center;
  padding: 50px;
}
.latest-posts-block .block-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.latest-posts-block p {
  margin: 0;
}
.latest-posts-block .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}
.latest-posts-block .container .post-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 10px;
  width: 350px;
}
.latest-posts-block .container .post-card .post-description {
  display: block;
  padding: 0 10px;
  height: 200px;
  overflow: hidden;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 20px;
}
.latest-posts-block .container .post-card .post-title {
  font-size: 20px;
  padding: 10px;
}
.latest-posts-block .container .post-img {
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.testimonials-block {
  margin: 50px 0;
}
.testimonials-block .title {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-align: center;
}
.testimonials-block .ant-carousel .slick-slide {
  text-align: center;
  height: 260px;
  line-height: 160px;
  overflow: hidden;
  line-height: normal;
}
.testimonials-block .ant-carousel .slick-slide h3 {
  color: rebeccapurple;
}
.testimonials-block .testimonials-carousel {
  width: 800px;
}
.testimonials-block .slick-list {
  height: 210px;
}
.testimonials-block .ant-carousel .slick-dots li button {
  background: rebeccapurple !important;
}
.testimonials-block .testimonial {
  display: flex !important;
  background: #46b6ac54;
  border-radius: 15px;
}
.testimonials-block .testimonial .img {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.testimonials-block .testimonial .avatar {
  max-height: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials-block .testimonial .avatar p {
  display: inline-block;
  line-height: 20px;
  width: 100px;
  text-align: center;
}
.testimonials-block .testimonial .review {
  padding-left: 30px;
  width: 100%;
}
.testimonials-block .testimonial .review p {
  text-align: justify;
  padding: 10px 10px 10px 0;
  height: 170px;
  overflow: hidden;
}

@media only screen and (max-width: 1600px) {
  .latest-posts-block .container {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 1320px) {
  .invite-block .container .block-right {
    width: 60%;
  }

  .invite-block .container .image-left {
    width: 40%;
  }
}
@media only screen and (max-width: 1200px) {
  .latest-posts-block .container .post-card {
    width: 300px;
  }

  .author-block .container {
    width: 80%;
  }
}
@media only screen and (max-width: 1150px) {
  .latest-posts-block {
    text-align: center;
    padding: 50px 0;
  }

  .latest-posts-block .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .latest-posts-block .container .post-card {
    margin: 0 30px 20px;
  }
}
@media only screen and (max-width: 1150px) {
  .author-block .container .block-left {
    width: 80%;
  }

  .author-block .container .image-right {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .invite-block .container .image-left {
    width: 100%;
  }

  .invite-block .container .block-right {
    width: 100%;
    margin-top: -150px;
    padding-bottom: 20px;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .latest-posts-block .container .post-card {
    width: 80%;
  }

  .author-block .container .block-left .title {
    text-align: center;
  }

  .author-block .container .block-left .image-mobile {
    display: flex;
    justify-content: center;
  }
  .author-block .container .block-left .image-mobile .img {
    width: 200px;
    height: 200px;
    background-image: url("../img/kriss.jpg");
    background-size: cover;
    background-position-y: -12px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .author-block .container .mobile-hide {
    display: none;
  }

  .testimonials-block .testimonials-carousel {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .latest-posts-block .container .post-card {
    width: 100%;
    margin: 10px 0;
  }

  .latest-posts-block .container {
    padding: 10px;
  }

  .author-block .container {
    width: 100%;
  }

  .author-block .container .block-left {
    width: 90%;
  }

  .testimonials-block .testimonials-carousel {
    width: 95%;
  }

  .author-block .container .block-left .info {
    padding-right: 0;
  }

  .title-block .paralax-content .call p {
    font-size: 18px;
  }

  .title-block .paralax-content .title {
    font-size: 6em;
  }
}
.registration-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.registration-block .paralaxcontent {
  min-height: calc(100vh - 70px);
}
.registration-block .container {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.registration-block .container .ant-form label {
  font-size: 15px;
  font-weight: 600;
  text-shadow: #a5a2a2 0px 1px 1px;
}
.registration-block .container form {
  background: #5aa17366;
  padding: 20px;
  border-radius: 15px;
}
.registration-block .container .register-form .form-title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #ffffff;
}
.registration-block .container .register-form .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.login-block .paralaxcontent {
  min-height: calc(100vh - 70px);
}
.login-block .container {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.login-block .container .ant-form label {
  font-size: 15px;
  font-weight: 600;
  text-shadow: #a5a2a2 0px 1px 1px;
}
.login-block .container form {
  background: #5aa17366;
  padding: 20px;
  border-radius: 15px;
}
.login-block .container form .login-button-container {
  margin-top: 20px;
}
.login-block .container form .login-button-container .social-auth {
  flex-wrap: wrap;
}
.login-block .container form .login-button-container .social-auth .googleButton {
  background: #353a66;
  height: 40px;
  width: 223px;
  min-width: 223px;
  border: 0;
  font-size: 16px;
  color: white;
}
.login-block .container form .login-button-container .social-auth .googleButton p {
  margin-top: 8px;
}
.login-block .container form .login-button-container .social-auth .googleButton .googlepic {
  margin-top: 1px;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  background-image: url("../img/google.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.login-block .container form .login-button-container .social-auth .googleButton .contain {
  display: flex;
  justify-content: space-around;
}
.login-block .container form .login-button-container .social-auth div, .login-block .container form .login-button-container .social-auth button {
  margin: 0 5px 10px 0;
}
.login-block .container form .login-button-container .simple-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.login-block .container .login-form .form-title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #ffffff;
  color: #36a89d;
}

.login-block .container .ant-form-explain,
.registration-block .container .ant-form-explain {
  position: absolute;
  width: 100%;
  text-align: right;
  color: #f5222d;
  font-weight: 600;
}
.login-block .container .ant-row,
.registration-block .container .ant-row {
  margin-bottom: 0;
}

@media only screen and (max-width: 1300px) {
  .registration-block .container,
.login-block .container {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .registration-block .container,
.login-block .container {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  .registration-block .container,
.login-block .container {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .registration-block .container,
.login-block .container {
    width: 95%;
  }
}

/*# sourceMappingURL=index.css.map */
